body {
    background-color: #131313;
    font-family: Arial;
    color: white;
}

.devidor{
    border-image: linear-gradient(to left,blue,red)1 ;
    border-width: 3px;
}
.centerMe{
    text-align: center;
}
/* text sizes */
.largeText{
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 60px;
}

.normalPlusText{
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
}
.normalText{
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}
.smalltext{
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
}
.smallertext{
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}





.buttons{
    
    margin: 5px 5px;
    padding: 10px 100px;
    position: relative;
    
    border: 2px solid rgb(255, 0, 242);
    border-radius: 10px;
    background: #ffffff00;
    color: rgb(255, 0, 242);
    font-size: 16px;
    cursor: pointer;
}
#theButtonRtest{
    margin: 5px 5px;
    padding: 100px 100px;
    position: relative;
    
    border: 2px solid rgb(255, 0, 242);
    border-radius: 50px;
    background: #ffffff00;
    color: rgb(255, 0, 242);
    font-size: 16px;
    cursor: pointer;
}
.color-change{
    position: relative;
    padding: 0;
    margin-top: 0px;
    font-size: 30px;
    
}